<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myserver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <service
            android:name=".MyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.REMOTE.myserver" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
